{% extends 'base.html.twig' %}

{% block title %} Show Series 13{{ program.title }}{% endblock %}

{% block body %}
<pre>
    {{ dump(program.actors) }}
</pre>
<div class="media">
    {# <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"> #}
    <div class="media-body">
        <h1>{{ program.title }}</h1>
        <p>syno <br>{{ program.synopsis }}</p>
        <h2>Catégorie : {{ program.category.name }}</h2>
        <p> Identifiant <br>{{ program.id }} </p>
        <h2>Saisons Disponibles !</h2>
        {% for season in program.seasons %}
        <a href=" {{ path('program_season_show', { programId: program.id, seasonId: season.id}) }}">Saisons : {{
            season.number }} <br> {#{{ season.description }}#} <br></a>
        {% endfor %}
        <h2>Acteurs ..</h2>
       
        {% for serie in program.actors %}
        <p> {{ serie.name }} </p>

        {% endfor %}

    </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}